DATABASE_URL="postgresql://user:password@host:5432/dbname?schema=public"
PORT=3001
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://your-domain"
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
