# Database
DATABASE_URL="postgresql://postgres:postgres123@postgres:5432/mydb?schema=public"
PORT=3001
# NextAuth
NEXTAUTH_SECRET="otzqbcflNWNxY84UKN0J7ALwkX6ccckaRbz60fOZF0g="
NEXTAUTH_URL="http://62.171.137.29:30450"

# Cloudinary (keep your existing values)
CLOUDINARY_CLOUD_NAME="dato0tx57"
CLOUDINARY_API_KEY="617619881796353"
CLOUDINARY_API_SECRET="fLdchby9x03ngDCqrBFTsFqAlOQ"

