# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE?schema=public"
PORT=3001
# NextAuth
NEXTAUTH_SECRET="changeme"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary (keep your existing values)
CLOUDINARY_CLOUD_NAME="changeme"
CLOUDINARY_API_KEY="changeme"
CLOUDINARY_API_SECRET="changeme"

